@import "./vars.scss";

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(0deg, $primary 0.03%, $accent);
    color: $foreground;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 30px;
    height: 100vh;
}

title {
    font-size: 48px;
    font-style: italic;
    color: darkgreen;
    display: flex;
    text-align: center;
    margin-left: 50px;
    margin-top: 30px;
}